/* Boiler Plate */
:root{
  --color-text-muted : #4f5157;
  --color-dark-button : #121317;
  --color-dark-button-hover : #2f3034;
  --color-button-border : #C2C3C6;
  --color-button-hover : #F8F8FB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans Flex';
  text-decoration: none;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: initial; 
}

#main {
  width: 100%;
  padding: 0 72px;
}



nav {
  width: 100%;
  height: 4vmax;
  padding: 0.5vw 0;
  display: flex;
  align-items: center;
}

nav>img{
  margin: 2px 20px 0 0;
  height: 21px;
  align-self: center;
  width: 200px;
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: var(--color-text-muted);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-right>i{
  display: none;
}

.heading {
  padding: 5vmax 0 3vw 0;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.heading .heading-left h1{
  font-size: 6.2vh;
  font-weight: 400;
  line-height: 5vh;
}

.heading-left img {
  width: 10px;
  align-self: center;
  position: sticky;
  left: 580px;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heading>a{
  color: black;
  height: fit-content;
  font-size: 1.1vw;
  font-weight: 500;
  padding: 1vw 2vw;
  border: 1px solid var(--color-button-border);
  border-radius: 100vw;
  background-color: var(--color-button-hover);
}

#nav-links a:hover {
  background-color: #f1f2f7;
  border-radius: 34px;
}

#nav-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.bta {
  text-decoration: none;
  color: var(--color-text-muted);
  padding: 6px 8px 6px 16px;
}

.bwa {
  padding: 6px 16px;
}

.black-button:hover {
  background-color: #2f3034;
}

.dark-button{
  background-color: var(--color-dark-button);
  color: #fff;
  box-sizing: content-box;
  padding: 0.5vw 1vw;
  border-radius: 10vw;
}

.dark-button:hover{
  background-color: var(--color-dark-button-hover);
}

.products a{  
  color: #000;
  height: 100%;
  display: flex;
  font-size: 1.8vh;
  font-weight: 500;
  align-items: center;
  gap: 6px;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  border: 1px solid #11111121;
}

.download-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  text-align: center;
  margin-bottom: 5rem;
}

.upper-btn {
  background-color: #121317;
  color: #fff;
  display: flex;
  padding: 0.9vw 0;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 100vw;
}

.lower-btn{
    color: black;
  height: fit-content;
  font-size: 1.2em;
  padding: 0.9vw 0;
  border: 1px solid #11111111;
  border-radius: 100vw;
  background-color: var(--color-button-hover);
}

.products img {
  height: 15px;
}

.heading a:hover,
.products ahover,
.lower:hover {
  background-color: #f0f1f5;
}

.products {
  display: flex;
  padding: 10px 0 20px 0;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.products button,
.lower {
  border: 1px solid rgba(10, 10, 10, 0.2);
  color: black;
  background-color: #fff;
}

#anti-logo {
  background-image: url(antigravity-icon__full-color.png);
  background-size: cover;
  height: 17px;
  width: 17px;
}

.downloads {
  /* margin-bottom: 100px; */
  padding: 40px 0 40px 0;
  width: 100%;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.antigravity2-downloads {
  padding: 40px 0 40px 0;
}

.downloads h1 {
  margin-bottom: 20px;
}

.antigravity-grids {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2vw;
  height: fit-content;
  /* align-content: center; */
}

.grids h2 {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  gap: 1vw;
  margin-bottom: 10px;
}

.menu {
  display: none;
}

.grids {
  width: 30%;
}

.grids p {
  font-size: 0.8rem;
  color: #4f5157;
}

.horizontal-line {
  border: none; /* Removes default 3D browser border */
  height: 320px; /* Sets line thickness */
  background-color: rgba(5, 5, 5, 0.1); /* Sets line color */
  width: 1px; /* Adjusts width (e.g., 50% for half-width) */
}

.ide-section {
  height: 150px;
}

.antigravity-ide .grids {
  height: 150px;
}

.antigravity-cli {
  flex-direction: column;
  margin-bottom: 0;
}

.antigravity-cli p,
.antigravity-sdk p {
  font-size: 15px;
}

.antigravity-cli .macos {
  margin-top: 30px;
}

.antigravity-cli .grids {
  margin-bottom: 40px;
  height: 140px;
}

.antigravity-ide .windows {
  margin-bottom: 0;
}

#cli-commands {
  border-radius: 15px;
  padding: 25px 36px;
  justify-content: space-between;
  display: flex;
  width: 45vw;
  font-size: 14px;
  color: #4e5c64;
  background-color: #f8f9fc;
}

#cli-commands h4 {
  font-family: "Roboto Mono";
  font-weight: 450;
}

#cli-commands span:hover {
  background-color: #f0f0f0;
}

#cli-commands span {
  /* background-color: #f0f0f0; */
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#antigravity-sdk .grids {
  width: 0vw;
}

.sdk {
  margin-top: 20px;
}

.sdk .lower {
  padding: 8px 26px 8px 26px;
}

footer #footer-container {
  border-bottom: 0;
  padding-bottom: 0;
}

/* footer */
footer .footer-up {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  flex-grow: 1;
}

.footer-links-left,
.footer-links-right {
  width: 10vw;
}

footer a {
  text-decoration: none;
  color: #4f5157;
  font-weight: 500;
  margin-bottom: 20px;
}

footer a > p {
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

footer a:hover {
  text-decoration: underline;
}

.antigravity-big{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-lower .antigravity-big p {
  font-size: 22vw;
  font-weight: 900;
  margin-bottom: 20px;
}

.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.google-logo img {
  height: 30px;
}

.antigravity-big #y {
  font-size: 22vw;
  /* position: absolute; */
  right: 120px;
  bottom: 60px;
  /* top: ; */
}

.footer-end .links {
  margin-right: 20vw;
}

.footer-end a {
  font-size: 14px;
  margin-right: 20px;
}

@media (max-width: 700px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    /* padding: 0 0; */
  }

  #main {
    padding: 0 3vw;
  }

  #hero #nav-links,
  #nav-download {
    display: none;
  }

  .heading{
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5vh;
    flex-direction: column;
  }

  .products {
    overflow-x: auto;
    scrollbar-width: none;
  }

  nav .nav-right {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .nav-right .menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
  }

  
  .heading-left {
    font-size: 0.5em;
    height: fit-content;
  }

  .heading-left h1 {
    line-height: 0.5vh;
  }

  .heading-left img{
    left: 330px;
    width: 8px;
  }

  .antigravity-big #y{
    right: 35px;
    bottom: 32px;

  }

  .products button {
    /* display: inline-block; */
    width: fit-content;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 600;
    align-items: center;
  }

  .antigravity-grids {
    flex-direction: column;
  }

  .grids {
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 2vw;
  }

  .heading{
    margin-bottom: 40px;
  }
  .heading-up, .heading-down{
    height: 5vh;
    font-size: 1.1em;
    font-weight: 900;
  }
  .horizontal-line {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 1px;
    width: 100%;
    color: rgba(5, 5, 5, 0.1);

    /* padding: 20px; */
    /* background-color: white;
    color: black; */
  }

  .antigravity-grids #download-options {
    margin-bottom: 40px;
  }

  .grids #cli-commands {
    width: 93vw;
    padding: 16px 25px;
    height: 12vh;
    position: relative;
  }

  .container {
    overflow-x: auto;
    overflow-y: hidden;
  }

  /* .container:hover{
    overflow-x: auto;
  } */

  #cli-commands .container span i {
    position: absolute;
    left: 85vw;
    top: 4vw;
  }
  .cmd #cli-commands {
    height: 14vh;
  }

  .antigravity-sdk p,
  .antigravity-cli > p {
    font-size: 0.9em;
  }

  .footer-up {
    flex-direction: column;
  }

  .footer-links-left,
  .footer-links-right {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    white-space: nowrap;
  }

  .footer-end {
    width: fit-content;
  }

  .footer-end .google-logo {
    justify-content: left;
    width: fit-content;
    align-self: flex-start;
    margin-bottom: 12px;
  }

  footer .footer-end,
  .links {
    display: flex;
    flex-direction: column;

    justify-content: left;
  }

  .heading button {
    white-space: nowrap;
  }
}
